
body{
  background-color: #e2c90d;
}
h1{
  color: #a52a2a;
}
body div{
  background-color: #00ffff;
  margin: 250px;
}

input{
  background-color:#ffffff;
  color:#0c0101;
}
input:hover{
  background-color: #000000;
  color: #f0f8ff;
  transition:1s;
}
input:focus{
  background-color: #0f010f;
}
input::placeholder{
  background-color: #7a2be2;
  color: #f0f8ff;
}


